# PyCity Schools Analysis
OBSERVATIONS <br>
1. Chater Schools outperform District Schools as is made clear by the difference in average math and reaading scores, as well as percentage of students passing math, reading, and both subjects concurrently.  

2. There is evidence of a potential correlation between school size and passing grades. Medium-sized schools have consistently high numbers for percentage of students passing both subjects. Schools with a larger population have drastically lower scores in this area. While we don't have very many schools classified as "Small" in the data set, this analysis shows them to be somewhat in line with those of a "Medium" size. 

3. The data suggests that both types of schools are shown to have more students passing reading over math. More analysis would be needed to delve further into why.

In [404]:
#import dependencies
import pandas as pd

#%pwd

In [405]:
#set paths
schools = ("..\Resources\schools_complete.csv")
students = ("..\Resources\students_complete.csv")

#read csv files and convert to DataFrames with Pandas
schools_df = pd.read_csv(schools)
students_df = pd.read_csv(students)

#merge files into single Data Frame
CitySchools_df = pd.merge(schools_df, students_df, how = "left", on = ["school_name", "school_name"])
CitySchools_df.head()

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84

# District Overview

In [406]:
#use pd.unique to count unique schools in column
#use len to get length of uinque rows in column
school_count = len(pd.unique(CitySchools_df["school_name"]))
school_count

15

In [407]:
#count students by length of rows in column
student_count = len(CitySchools_df["student_name"])

#format results
student_formatted = "{:,}".format(student_count)

student_formatted

'39,170'

In [408]:
#calculate total budget
total_budget = CitySchools_df["budget"].unique().sum()
#can be found using
    #schools_df["budget"].sum()

#format results
total_budget_formatted = "${:,}".format(total_budget)

total_budget_formatted

'$24,649,428'

In [409]:
#calculate average math score
average_math_score = CitySchools_df["math_score"].mean()
#can be found using students_df

#format result
average_math_formatted = "{:.2f}".format(average_math_score)

average_math_formatted

'78.99'

In [410]:
#calculate average reading score
average_reading_score = CitySchools_df["reading_score"].mean()
#can be found using students_df

#format result
average_reading_formatted = "{:.2f}".format(average_reading_score)

average_reading_formatted

'81.88'

In [411]:
#calculate % of student that passed math with a grade of >= 70
passing_math_count = CitySchools_df[(CitySchools_df["math_score"] >= 70)].count()["student_name"]
passing_math_perc = passing_math_count / float(student_count) * 100

#format results
passing_math_formatted = "{:.2f}%".format(passing_math_perc)

passing_math_formatted

'74.98%'

In [412]:
#calculate % of student that passed reading with a grade of >= 70
passing_reading_count = CitySchools_df[(CitySchools_df["reading_score"] >= 70)].count()["student_name"]
passing_reading_perc = passing_reading_count / float(student_count) * 100

#format result
passing_reading_formatted = "{:.2f}%".format(passing_reading_perc)

passing_reading_formatted

'85.81%'

In [413]:
#calculate % of student that passed math and reading with a grade of >= 70
passing_both_count = CitySchools_df[(CitySchools_df["math_score"] >=70) & (CitySchools_df["reading_score"] >= 70)].count()["student_name"]
passing_both_perc = passing_both_count / float(student_count) *100

#format result
passing_both_formatted = "{:.2f}%".format(passing_both_perc)

passing_both_formatted

'65.17%'

In [414]:
#District Summary DataFrame
#brackets around variables because they hold only one value (aka scalar)
district_summary_df = pd.DataFrame({
    'Total Schools': [school_count],
    'Total Students': [student_formatted],
    'Total Budget': [total_budget_formatted],
    'Average Math Score': [average_math_formatted],
    'Average Reading Score': [average_reading_formatted],
    '% Passing Math': [passing_math_formatted],
    '% Passing Reading': [passing_reading_formatted],
    '% Passing Math and Reading': [passing_both_formatted]})
#results formatted above
    #works because scalar
#Output DataFrame
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Math and Reading
0,15,"39,170","$24,649,428",78.99,81.88,74.98%,85.81%,65.17%

# School Overview

In [415]:
#find each school name by .unique
each_school = CitySchools_df["school_name"].unique()
#can also be found using
    #schools_df[["school_name"]] 
#sort names to keep data cohesive
each_school.sort()

In [416]:
#find each school's type by .groupby and .unique
#str.join('.') added to remove brackets from output
school_type = CitySchools_df.groupby("school_name")["type"].unique().str.join(',')
#can be found using
    #schools_df.set_index(["school_name"])["type"]

In [417]:
#find the number of students per school by .value_count
student_per_school = CitySchools_df["school_name"].value_counts()
#can be found using 
#schools_df[["school_name", "size"]

In [418]:
#find the total school budget per school using .groupby and .mean
budget_per_school = CitySchools_df.groupby("school_name")["budget"].mean()
#can be found using
#schools_df[["school_name", "budget"]]

#use variables set above to get budget per student
budget_per_student = budget_per_school/student_per_school

In [419]:
#calculate avg math score per school with .groupby and .mean
average_math_per = CitySchools_df.groupby("school_name")["math_score"].mean()

#calculate avg reading score per school with .groupby and .mean()
average_reading_per = CitySchools_df.groupby("school_name")["reading_score"].mean()

In [420]:
#students passing math per school by using .groupby
passing_math_per_count = CitySchools_df[CitySchools_df["math_score"] >= 70].groupby("school_name")["math_score"].count()
#turn into percentage with existing variables
passing_math_per_perc = passing_math_per_count/student_per_school *100

In [421]:
#students passing reading per school by using .groupby
passing_reading_per_count = CitySchools_df[CitySchools_df["reading_score"] >= 70].groupby("school_name")["reading_score"].count()
#turn into percentage with existing variables
passing_reading_per_perc = passing_reading_per_count/student_per_school *100

In [422]:
#students passing math and reading per school by using .groupby
overall_passing_count = CitySchools_df[(CitySchools_df["math_score"] >= 70) & (CitySchools_df["reading_score"] >= 70)].groupby("school_name").size()
#turn into percentage with existing variables
overall_passing_perc = overall_passing_count/student_per_school *100

In [423]:
#School Summary DataFrame
#no brackets because variables hold more than one value (aka non-scalar)
per_school_df = pd.DataFrame({    
    '': each_school,
    'School Type': school_type,
    'Number of Students': student_per_school,
    'School Budget': budget_per_school,
    'Budget Per Student': budget_per_student,
    'Average Math Score': average_math_per,
    'Average Reading Score': average_reading_per,
    '% Passing Math': passing_math_per_perc,
    '% Passing Reading': passing_reading_per_perc,
    '% Passing Math and Reading': overall_passing_perc
    })
#removed "School Name" header for cleaner output in df
per_school_df = per_school_df.set_index('')

#format results
#.round allows for data to remain an integer
per_school_df = per_school_df.round(2)
per_school_df["Number of Students"] = per_school_df["Number of Students"].map("{:,}".format)
per_school_df["School Budget"] = per_school_df["School Budget"].map("${:,.2f}".format)
per_school_df["Budget Per Student"] = per_school_df["Budget Per Student"].map("${:,.2f}".format)
#per_school_df["Average Math Score"] = per_school_df["Average Math Score"].map("{:.2f}".format)
#per_school_df["Average Reading Score"] = per_school_df["Average Reading Score"].map("{:.2f}".format)
#per_school_df["% Passing Math"] = per_school_df["% Passing Math"].map("%{:.2f}".format)
#per_school_df["% Passing Reading"] = per_school_df["% Passing Reading"].map("%{:.2f}".format)
#per_school_df["% Passing Math and Reading"] = per_school_df["% Passing Math and Reading"].map("%{:.2f}".format)
per_school_df

,School Type,Number of Students,School Budget,Budget Per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Math and Reading
,,,,,,,,,
Bailey High School,District,"4,976","$3,124,928.00",$628.00,77.05,81.03,66.68,81.93,54.64
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,94.13,97.04,91.33
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,65.99,80.74,53.20
Ford High School,District,"2,739","$1,763,916.00",$644.00,77.10,80.75,68.31,79.30,54.29
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,93.39,97.14,90.60
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.29,80.93,66.75,80.86,53.53
Holden High School,Charter,427,"$248,087.00",$581.00,83.80,83.81,92.51,96.25,89.23
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63,81.18,65.68,81.32,53.51
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07,80.97,66.06,81.22,53.54
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59,95.95,90.54
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84,80.74,66.37,80.22,52.99
Shelton High School,Charter,"1,761","$1,056,600.00",$600.00,83.36,83.73,93.87,95.85,89.89
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42,83.85,93.27,97.31,90.95
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27,83.99,93.87,96.54,90.58
Wright High School,Charter,"1,800","$1,049,400.00",$583.00,83.68,83.96,93.33,96.61,90.33

### Top Performing Schools by (% Passing Math and Reading)

In [424]:
#display top five schools based on overall passing rates using .head
#ascending=false to get descending order
top_schools_df = per_school_df.sort_values(["% Passing Math and Reading"], ascending=False)
top_schools_df.head()

,School Type,Number of Students,School Budget,Budget Per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Math and Reading
,,,,,,,,,
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,94.13,97.04,91.33
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42,83.85,93.27,97.31,90.95
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,93.39,97.14,90.60
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27,83.99,93.87,96.54,90.58
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59,95.95,90.54

### Bottom Performing Schools by (% Pasing Math and Reading)

In [425]:
#display bottom five schools based on overall passing only using .head
#switch ascending to true to get correct order
bottom_schools_df = per_school_df.sort_values(["% Passing Math and Reading"], ascending=True)
bottom_schools_df.head()

,School Type,Number of Students,School Budget,Budget Per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Math and Reading
,,,,,,,,,
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84,80.74,66.37,80.22,52.99
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,65.99,80.74,53.20
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63,81.18,65.68,81.32,53.51
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.29,80.93,66.75,80.86,53.53
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07,80.97,66.06,81.22,53.54

# Grade Level Overview

In [426]:
#limit pd.reader to data of a specific grade and find average
ninth_scores_math = CitySchools_df[(CitySchools_df["grade"] == "9th")].groupby("school_name")["math_score"].mean()
tenth_scores_math = CitySchools_df[(CitySchools_df["grade"] == "10th")].groupby("school_name")["math_score"].mean()
eleventh_scores_math = CitySchools_df[(CitySchools_df["grade"] == "11th")].groupby("school_name")["math_score"].mean()
twelfth_scores_math = CitySchools_df[(CitySchools_df["grade"] == "12th")].groupby("school_name")["math_score"].mean()

#create a DataFrame to reflect findings
avg_math_per_grade_df = pd.DataFrame({
    '' : each_school,
    "9th Grade Avg Math Score" : ninth_scores_math,
    "10th Grade Avg Math Score" : tenth_scores_math,
    "11th Grade Avg Math Score" : eleventh_scores_math,
    "12th Grade Avg Math Score" : twelfth_scores_math
     })
#format results
avg_math_per_grade_df = avg_math_per_grade_df.set_index('')
avg_math_per_grade_df=avg_math_per_grade_df.round(2)
avg_math_per_grade_df

,9th Grade Avg Math Score,10th Grade Avg Math Score,11th Grade Avg Math Score,12th Grade Avg Math Score
,,,,
Bailey High School,77.08,77.00,77.52,76.49
Cabrera High School,83.09,83.15,82.77,83.28
Figueroa High School,76.40,76.54,76.88,77.15
Ford High School,77.36,77.67,76.92,76.18
Griffin High School,82.04,84.23,83.84,83.36
Hernandez High School,77.44,77.34,77.14,77.19
Holden High School,83.79,83.43,85.00,82.86
Huang High School,77.03,75.91,76.45,77.23
Johnson High School,77.19,76.69,77.49,76.86
Pena High School,83.63,83.37,84.33,84.12
Rodriguez High School,76.86,76.61,76.40,77.69
Shelton High School,83.42,82.92,83.38,83.78
Thomas High School,83.59,83.09,83.50,83.50
Wilson High School,83.09,83.72,83.20,83.04
Wright High School,83.26,84.01,83.84,83.64

In [427]:
#limit pd.reader to data of a specific grade and find average
ninth_scores_read = CitySchools_df[(CitySchools_df["grade"] == "9th")].groupby("school_name")["reading_score"].mean()
tenth_scores_read = CitySchools_df[(CitySchools_df["grade"] == "10th")].groupby("school_name")["reading_score"].mean()
eleventh_scores_read = CitySchools_df[(CitySchools_df["grade"] == "11th")].groupby("school_name")["reading_score"].mean()
twelfth_scores_read = CitySchools_df[(CitySchools_df["grade"] == "12th")].groupby("school_name")["reading_score"].mean()

#create a DataFrame to reflect findings
avg_read_per_grade_df = pd.DataFrame({
    '' : each_school,
    "9th Grade Avg Reading Score" : ninth_scores_read,
    "10th Grade Avg Reading Score" : tenth_scores_read,
    "11th Grade Avg Reading Score" : eleventh_scores_read,
    "12th Grade Avg Reading Score" : twelfth_scores_read
     })
#format results
avg_read_per_grade_df = avg_read_per_grade_df.set_index('')
avg_read_per_grade_df=avg_read_per_grade_df.round(2)
avg_read_per_grade_df

,9th Grade Avg Reading Score,10th Grade Avg Reading Score,11th Grade Avg Reading Score,12th Grade Avg Reading Score
,,,,
Bailey High School,81.30,80.91,80.95,80.91
Cabrera High School,83.68,84.25,83.79,84.29
Figueroa High School,81.20,81.41,80.64,81.38
Ford High School,80.63,81.26,80.40,80.66
Griffin High School,83.37,83.71,84.29,84.01
Hernandez High School,80.87,80.66,81.40,80.86
Holden High School,83.68,83.32,83.82,84.70
Huang High School,81.29,81.51,81.42,80.31
Johnson High School,81.26,80.77,80.62,81.23
Pena High School,83.81,83.61,84.34,84.59
Rodriguez High School,80.99,80.63,80.86,80.38
Shelton High School,84.12,83.44,84.37,82.78
Thomas High School,83.73,84.25,83.59,83.83
Wilson High School,83.94,84.02,83.76,84.32
Wright High School,83.83,83.81,84.16,84.07

# School Spending Overview

In [428]:
#set bins based on budget per student
budget_bins = [0, 585, 630, 645, 680]
#labels for bins(groups)
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [429]:
#.copy per_school_df for budget per student and to not alter original df
scores_per_spending_df = per_school_df.copy()

In [430]:
#use pd.cut to assign schools to bins 
    #first variable=array to be binned(sorted), second=bins, third=labels
    #no need for right=flase since top value of bins is greater than data
scores_per_spending_df["Spending Ranges (Per Student)"] = pd.cut(budget_per_student, budget_bins, labels=labels)
scores_per_spending_df

,School Type,Number of Students,School Budget,Budget Per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Math and Reading,Spending Ranges (Per Student)
,,,,,,,,,,
Bailey High School,District,"4,976","$3,124,928.00",$628.00,77.05,81.03,66.68,81.93,54.64,$585-630
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,94.13,97.04,91.33,<$585
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,65.99,80.74,53.20,$630-645
Ford High School,District,"2,739","$1,763,916.00",$644.00,77.10,80.75,68.31,79.30,54.29,$630-645
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,93.39,97.14,90.60,$585-630
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.29,80.93,66.75,80.86,53.53,$645-680
Holden High School,Charter,427,"$248,087.00",$581.00,83.80,83.81,92.51,96.25,89.23,<$585
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63,81.18,65.68,81.32,53.51,$645-680
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07,80.97,66.06,81.22,53.54,$645-680
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59,95.95,90.54,$585-630
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84,80.74,66.37,80.22,52.99,$630-645
Shelton High School,Charter,"1,761","$1,056,600.00",$600.00,83.36,83.73,93.87,95.85,89.89,$585-630
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42,83.85,93.27,97.31,90.95,$630-645
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27,83.99,93.87,96.54,90.58,<$585
Wright High School,Charter,"1,800","$1,049,400.00",$583.00,83.68,83.96,93.33,96.61,90.33,<$585

In [431]:
#calculate averages of requested columns within each bin
avg_math_per_budget = scores_per_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
avg_read_per_budget = scores_per_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
perc_math_per_budget = scores_per_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
perc_read_per_budget = scores_per_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
perc_both_per_budget = scores_per_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math and Reading"].mean()

In [432]:
#create a DataFrame to reflect findings per student budget
spending_summary_df = pd.DataFrame({
    "Average Math Score": avg_math_per_budget,
    "Average Reading Score": avg_read_per_budget,
    "% Passing Math": perc_math_per_budget,
    "% Passing Reading": perc_read_per_budget,
    "% Passing Math and Reading": perc_both_per_budget
    })
#format results and display
spending_summary_df=spending_summary_df.round(2)
spending_summary_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Math and Reading
Spending Ranges (Per Student),,,,,
<$585,83.45,83.94,93.46,96.61,90.37
$585-630,81.90,83.16,87.13,92.72,81.42
$630-645,78.52,81.62,73.48,84.39,62.86
$645-680,77.00,81.03,66.16,81.13,53.53

# School Size Overview

In [433]:
#set bins based on students per school
student_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1,000)", "Medium (1,000-2,000)", "Large (2,000-5,000)"]

In [434]:
#use pd.cut to assign schools to bins based on number of students 
    #first variable=array to be binned(sorted), second=bins, third=labels
    #no need for "right=False" since low and top values of bins are broader than data
per_school_df["Total Students"] = pd.cut(student_per_school, student_bins, labels=labels)
per_school_df

,School Type,Number of Students,School Budget,Budget Per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Math and Reading,Total Students
,,,,,,,,,,
Bailey High School,District,"4,976","$3,124,928.00",$628.00,77.05,81.03,66.68,81.93,54.64,"Large (2,000-5,000)"
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,94.13,97.04,91.33,"Medium (1,000-2,000)"
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,65.99,80.74,53.20,"Large (2,000-5,000)"
Ford High School,District,"2,739","$1,763,916.00",$644.00,77.10,80.75,68.31,79.30,54.29,"Large (2,000-5,000)"
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,93.39,97.14,90.60,"Medium (1,000-2,000)"
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.29,80.93,66.75,80.86,53.53,"Large (2,000-5,000)"
Holden High School,Charter,427,"$248,087.00",$581.00,83.80,83.81,92.51,96.25,89.23,"Small (<1,000)"
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63,81.18,65.68,81.32,53.51,"Large (2,000-5,000)"
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07,80.97,66.06,81.22,53.54,"Large (2,000-5,000)"
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59,95.95,90.54,"Small (<1,000)"
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84,80.74,66.37,80.22,52.99,"Large (2,000-5,000)"
Shelton High School,Charter,"1,761","$1,056,600.00",$600.00,83.36,83.73,93.87,95.85,89.89,"Medium (1,000-2,000)"
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42,83.85,93.27,97.31,90.95,"Medium (1,000-2,000)"
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27,83.99,93.87,96.54,90.58,"Large (2,000-5,000)"
Wright High School,Charter,"1,800","$1,049,400.00",$583.00,83.68,83.96,93.33,96.61,90.33,"Medium (1,000-2,000)"

In [435]:
#calculate averages of requested columns within each bin
avg_math_per_size = per_school_df.groupby(["Total Students"])["Average Math Score"].mean()
avg_read_per_size = per_school_df.groupby(["Total Students"])["Average Reading Score"].mean()
perc_math_per_size = per_school_df.groupby(["Total Students"])["% Passing Math"].mean()
perc_read_per_size = per_school_df.groupby(["Total Students"])["% Passing Reading"].mean()
perc_both_per_size = per_school_df.groupby(["Total Students"])["% Passing Math and Reading"].mean()

In [436]:
#create DataFrame to display findings
size_summary_df = pd.DataFrame({
    "Average Math Score": avg_math_per_size,
    "Average Reading Score": avg_read_per_size,
    "% Passing Math": perc_math_per_size,
    "% Passing Reading": perc_read_per_size,
    "% Passing Math and Reading": perc_both_per_size
    })
#format and display
size_summary_df = size_summary_df.round(2)
size_summary_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Math and Reading
Total Students,,,,,
"Small (<1,000)",83.82,83.93,93.55,96.10,89.88
"Medium (1,000-2,000)",83.37,83.87,93.60,96.79,90.62
"Large (2,000-5,000)",77.74,81.34,69.96,82.77,58.28

# School Type Overview

In [437]:
#calculate averages of requested columns
    #no bins required because only two options labeled previously
avg_math_per_type = per_school_df.groupby(["School Type"])["Average Math Score"].mean()
avg_read_per_type = per_school_df.groupby(["School Type"])["Average Reading Score"].mean()
perc_math_per_type = per_school_df.groupby(["School Type"])["% Passing Math"].mean()
perc_read_per_type = per_school_df.groupby(["School Type"])["% Passing Reading"].mean()
perc_both_per_type = per_school_df.groupby(["School Type"])["% Passing Math and Reading"].mean()

In [438]:
#create a DataFrame to reflect findings
type_summary_df = pd.DataFrame({
    "Average Math Score": avg_math_per_type,
    "Average Reading Score": avg_read_per_type,
    "% Passing Math": perc_math_per_type,
    "% Passieng Reading": perc_read_per_type,
    "& Passing Math and Reading": perc_both_per_type
})
#format and display
type_summary_df = type_summary_df.round(2)
type_summary_df

,Average Math Score,Average Reading Score,% Passing Math,% Passieng Reading,& Passing Math and Reading
School Type,,,,,
Charter,83.47,83.90,93.62,96.59,90.43
District,76.96,80.97,66.55,80.80,53.67