In [60]:
#import dependencies
import pandas as pd
import os

# %pwd

In [61]:
#set paths
schools = os.path.join("Starter_Code", "PyCitySchools", "Resources", "schools_complete.csv")
students = os.path.join("Starter_Code", "PyCitySchools", "Resources", "students_complete.csv")

In [62]:
#read csv files
schools_df = pd.read_csv(schools)
students_df = pd.read_csv(students)

In [63]:
#merge into Data Frame
CitySchools_df = pd.merge(schools_df, students_df, how = "left", on = ["school_name", "school_name"])
CitySchools_df.head()

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84

In [64]:
#use Pandas "unique" to count unique schools in column
school_count = len(pd.unique(CitySchools_df["school_name"]))
school_count

15

In [65]:
#count students by measuring length of column 
student_count = len(CitySchools_df["student_name"])
student_count

39170

In [66]:
#calculate total budget using "schools_df" only
total_budget = schools_df["budget"].sum()
total_budget

24649428

In [67]:
#calculate average math score using "students_df" only
average_math_score = students_df["math_score"].mean()
average_math_score

78.98537145774827

In [68]:
#calculate average reading score using "students_df" only
average_reading_score = students_df["reading_score"].mean()
average_reading_score

81.87784018381414

In [69]:
#calculate % of student that passed math with a grade of >= 70
passing_math_count = CitySchools_df[(CitySchools_df["math_score"] >= 70)].count()["student_name"]
passing_math_perc = passing_math_count / float(student_count) * 100
passing_math_perc

74.9808526933878

In [71]:
#calculate % of student that passed reading with a grade of >= 70
passing_reading_count = CitySchools_df[(CitySchools_df["reading_score"] >= 70)].count()["student_name"]
passing_reading_perc = passing_reading_count / float(student_count) * 100
passing_reading_perc

85.80546336482001

In [74]:
#calculate % of student that passed math and reading with a grade of >= 70
passing_both_count = CitySchools_df[(CitySchools_df["math_score"] >=70) & (CitySchools_df["reading_score"] >= 70)].count()["student_name"]
passing_both_perc = passing_both_count / float(student_count) *100
passing_both_perc

65.17232575950983